
<!-- <div class="container"> 
    <div class="row"> 
        <ng-container> 
            <div class="card col-md-3"> 
                <img src="{{Product.imageUrl}}" alt="{{ Product.name }}" width="80%" height="70%"><br> 
                <h5>{{Product.name}}</h5><br> 
                <p>{{Product.price}}</p><br> 

                <button class="btn btn-primary"(click)="BuyNow(Product.id)">Buy Now</button> 
            </div>&nbsp; 
        </ng-container>&nbsp; 
 
    </div> 
 
</div> -->





<div class="container"> 
    <div class="row"> 
        <ng-container> 
            <div class="card col-md-3"> 
                <img src="{{Product.imageUrl}}" alt="{{ Product.name }}" width="100" height="100"><br> 
                <h5>{{Product.name}}</h5><br> 
                <p>{{Product.price}}</p><br> 
                <button class="Buy-Now" (click)="BuyNow(Product.id)">Buy Now</button><br>
                <!-- <button class="Remove from cart" (click)="Delete(b.id)">Remove from cart</button> -->
            </div> 
        </ng-container> 
 
    </div> 
 
</div>






 


